<template>
  <ul class="b f3 black-70 lh-copy">
    <li>{{ petsMessage }}</li>
    <li>{{ synthsMessage }}</li>
  </ul>
</template>
<script>
export default {
  name: "Message",
  props: {
    petsMessage: {
      type: String,
      required: true
    },
    synthsMessage: {
      type: String,
      required: true
    }
  }
};
</script>
