<template>
  <div class="b f3 f2-ns dim black-70 lh-solid">
    <h1>{{ text }}</h1> 
  </div>
</template>
<script>
export default {
  name: "Message",
  props: {
    text: {
      type: String,
      required: true
    }
  }
};
</script>
