<template>
  <p class="f6 db b ttu lh-solid" v-html="text"></p>
</template>
<script>
export default {
  name: "LocationInformation",
  props: {
    time: {
      type: String,
      required: true
    },
    location: {
      type: String,
      required: true
    }
  },
  data() {
    return { text: "" };
  },
  computed: {
    locale() {
      const { location, time } = this;
      return `${location}-${time}`;
    }
  },
  watch: {
    locale() {
      const { location, time } = this;
      this.text = this.$t("currentInformation", {
        location,
        time
      });
    }
  }
};
</script>
