<template>
  <div class="locale-changer">
    <select v-model="$i18n.locale">
      <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{
        selectedLang(lang)
      }}</option>
    </select>
  </div>
</template>

<script>
import localeEmoji from "locale-emoji";

export default {
  name: "locale-changer",
  data() {
    return { langs: ["de", "en", "ru"] };
  },
  methods: {
    selectedLang(_lang) {
      // const { }
      const lang = _lang === "en" ? "en-AU" : _lang;
      return `${lang} - ${localeEmoji(lang)}`;
    }
  }
};
</script>
