<template>
  <div class="f6 db b ttu lh-solid">
    <h2 v-html="locationWelcome"></h2>
  </div>
</template>
<script>
export default {
  name: "Message",
  props: {
    locationWelcome: {
      type: String,
      required: true
    }
  }
};
</script>
