<template>
  <p class="f6 db b ttu lh-solid">{{ text }}</p>
</template>
<script>
export default {
  name: "Temperature",
  props: {
    text: {
      type: String,
      required: true
    }
  }
};
</script>
