<template>
  <main class="helvetica mw5 mw7-ns center pa3 ph5-ns">
    <div id="app" class="ph3 ph4-ns pv6 bt b--black-10 black-70">
      <!-- might need to wrap wrap wraaaaap -->
      <div id="image">
        <img :class="imgClass" alt="Vue logo" src="./assets/logo.png" />
      </div>
      <header>
        <message :locationWelcome="locationWelcome"></message>
      </header>
      <section>
        <greeting :text="greeting"></greeting>
      </section>
      <section>
        <about
          :petsMessage="petsMessage"
          :synthsMessage="synthsMessage"
        ></about>
      </section>
      <footer>
        <location-information
          v-if="currentTime"
          :location="currentLocation"
          :time="currentTime"
        ></location-information>
        <locale-selector></locale-selector>
      </footer>
    </div>
  </main>
</template>

<script>
import About from "./components/About";
import Greeting from "./components/Greeting";
import LocationInformation from "./components/LocationInformation";
import LocaleSelector from "./components/LocaleSelector";
import Message from "./components/Message";
import { format } from "date-fns";
import enLocale from "date-fns/locale/en";
import deLocale from "date-fns/locale/de";

export default {
  name: "app",
  components: {
    About,
    Greeting,
    LocationInformation,
    LocaleSelector,
    Message
  },
  data() {
    return { currentTime: null };
  },
  mounted() {
    this.ticktock();
  },
  computed: {
    imgClass() {
      return "br2 h3 w3 dib";
    },
    locale() {
      return "en-AU";
    },
    currentLocation() {
      return this.$i18n.locale === "en" ? "Sydney" : "Berlin";
    },
    greeting() {
      return this.$t("greeting");
    },
    locationWelcome() {
      const { currentLocation } = this;
      return this.$t("locationWelcome", { currentLocation });
    },
    units() {
      // naive - probably more places use fahrenheit
      return `\u00B0${
        this.locale && this.locale.toLowerCase() === "en-us" ? "F" : "C"
      }`;
    },
    petsMessage() {
      const catCount = 0;
      return this.$tc("petsMessage", catCount, {
        emoji: Array(catCount)
          .fill("🐈")
          .join("")
      });
    },
    synthsMessage() {
      return this.$t("synthsMessage", { count: 4 });
    },
    currentTemperature() {
      return `12${this.units}`;
    }
  },
  methods: {
    ticktock() {
      const locale =
        this.$i18n && this.$i18n.locale && this.$i18n.locale === "de"
          ? deLocale
          : enLocale;
      this.currentTime = format(Date.now(), "dddd D MMM, YYYY HH:mm:ssZZ", {
        locale
      });
      setInterval(this.ticktock, 1000);
    }
  }
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}
</style>
